<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{layout :: layout('Nuevo Usuario', ~{this :: content})}">

<div th:fragment="content">

    <h1>➕ Nuevo Usuario</h1>

    <form th:action="@{/usuarios/nuevo}"
          th:object="${usuarioCreateDto}" method="post"
          style="background:white; padding:25px; border-radius:8px;
                 box-shadow:0 0 5px rgba(0,0,0,0.1); max-width:500px; display:flex; flex-direction:column; gap:15px;">

        <!-- CSRF -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <div style="display:flex; flex-direction:column;">
            <label>Nombre de Usuario:</label>
            <input type="text" th:field="*{username}" required />
        </div>

        <div style="display:flex; flex-direction:column;">
            <label>Contraseña:</label>
            <input type="password" th:field="*{password}" required />
        </div>

        <div style="display:flex; flex-direction:column;">
            <label>Rol:</label>
            <select th:field="*{rol}">
                <option value="EMPLOYEE">EMPLOYEE</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </div>

        <button type="submit"
                style="padding:10px 15px; background:#157a15; color:white; border:none; border-radius:5px;">
            💾 Guardar Usuario
        </button>
    </form>

    <a th:href="@{/usuarios}" style="display:inline-block; margin-top:15px;">
        ⬅️ Volver al listado de usuarios
    </a>

</div>
</html>
